go 1.26.5

use (
	./acom1200s-pa-bridge
	./antennaselect
	./atr1k-tuner-bridge
	./flexbridge
	./hadiscovery
	./pelcobridge
	./powerseq
	./shared
	./shelly-power-bridge
	./testui
	./ultrabridge
	./wrc-rotator-bridge
)
