go 1.26.5

use (
	./acom1200s-pa-bridge
	./antennaselect
	./atr1k-tuner-bridge
	./flexbridge
	./hadiscovery
	./hf-mqtt-capture
	./icom9700-radio-bridge
	./logger-spot-bridge
	./pelcobridge2
	./powerseq
	./shared
	./shelly-power-bridge
	./spid-ercm-rotator-bridge
	./testui
	./ultrabridge
	./wrc-rotator-bridge
)
